.category-bar {
    display: grid;
    background: #df6400;
    padding: 7px;
    font-family: Roboto;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
}