$primary: #fddc57;
$secondary: #a2821e;
$white: #fff;
$gray: #9b9b9b;

.addmoney-container{
    display: block;
    width: 100%;
    margin-top: 150px;
}

.card-info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;

  div {
    width: 98%;
  }
}

.form__label-sum {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:placeholder-shown ~ .form__label-sum {
  font-size: 4rem;
  cursor: text;
  top: 20px;
}

.form__field:focus {
  ~ .form__label-sum {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}