.navbar {
    display: grid;
    grid-auto-rows: 60px;
    grid-template-columns: 4fr 1fr 2fr 1fr 1fr;
    height: 100%;
    background: #696969;
    padding: 7px;
    // font-family: Roboto;

    .title {
        display: grid;
        grid-template-rows: 2fr 1fr;
        letter-spacing: 0.02857em;
    }

    .logo {
        justify-self: center;
        align-self: center;
    }

    .cart {
        justify-self: center;
        align-self: center;
    }

    .greetings {
        justify-self: end;
        align-self: center;
        color: white;
        letter-spacing: 0.02857em;
    }

    .account {
        justify-self: end;
        align-self: center;
    }
}

